//COLORS
$primary: rgb(39, 62, 167);
$secondary: rgb(35, 80, 228);
$maintext:#fff;

$backgroundprimary: rgb(26, 26, 26);

$backgroundsecondary:#222222;




//main pading
$main-top: 30px;
$main-bottom:100px;