//COLORS
$primary: rgb(57, 137, 212);
$secondary: rgb(77, 150, 219);
$maintext:#fff;
$backgroundprimary: rgb(26, 26, 26);

$backgroundsecondary:#222222;




//main pading
$main-top: 100px;
$main-bottom:100px;