//COLORS
$primary: rgb(74, 143, 223);
$secondary: rgb(39, 62, 167);
$maintext:#fff;

$backgroundprimary: rgb(26, 26, 26);

$backgroundsecondary:#222222;




//main pading
$main-top: 60px;
$main-bottom:60px;
$section-space-from-top:100px;
$section-space-from-top-RWD:50px;