#kontakt{
    // background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)),
    // url("../images/backgrounds/kontakt/2.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    
    
    .kontakt-body{
        .kontakt-body-column{
        
        .card{
           border: none;
           border-radius: 17px;
            .card-body{
               // background-image:  url("../images/backgrounds/kontakt/1.jpg");
               background:black;
                border-radius: 15px;
                .kontakt-text {
                    h3{
                       color:white;
                       margin-bottom: 5px; 
                        
                    }
                }
                .md-form{
                    padding: 5px;
                    label{
                    padding:5px;
                    width:30%;
                    color:white;
                    }
                    .form-control{
                    background:rgb(195, 195, 195)
                    }
                }
                button {
                    margin-top: 8%;
                }
            }
        }
    }
    .google-kolumn {
                max-width: 540px;
                padding: 0;
                 background:black;
                 border-radius: 15px;
              .kolumn-map {
                padding:20px;
                
                #googlemap {
                    
                    
                    max-width: 100%;
                    height:400px;
                }
              }
            .kontakt-dane{
                margin-top: -2%;
                text-align: center;
                
                p{
                    font-size: 80%;
                    font-weight: bold;
                    color:white;
                }
            }
     }
    }
}