#main{
    .main_photo{
        // height: 100vh;
        .show{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: calc(100vh + 100px);
        }
        .one{
            background-image:url("../images/backgrounds/main/1.jpg");
            background-position-y: -50em;
        }
        .two{
            background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)),url("../images/backgrounds/main/2.jpg");
        }
        .three{
            background-image:url("../images/backgrounds/main/3.jpg");
            
        }
        .four{
            background-position-y: -65vh;
            // background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)),url("../images/backgrounds/main/4.jpg");
            background-image: url("../images/backgrounds/main/4.jpg");
        }
        .five{
            background-image:url("../images/backgrounds/main/5.jpg");
            background-position-y: -10em;
        }
        .six{
            background-image:url("../images/backgrounds/main/6.jpg");
            background-repeat: no-repeat;
            background-position-y: -20em;
        }
        .mySlides{
            @media (min-width: 282px) and (max-width: 768px) {
            }
        }
    }
.main__content{
    position:absolute;
    top:75%;
    width: auto;
    left:70%;
    transform:translate(-50%, -50%);
    color:#fff;
    letter-spacing: 1px;
    word-spacing: 4px;
    p{
        font-size: 3rem;
    }
    
    @media (min-width: 282px) and (max-width: 768px) {
        top:35%;
    }
    .main__text {
            text-transform: uppercase;
            font-size:25px;
                    @media (min-width: 282px) and (max-width: 768px) {
                        font-size: 20px;
                    }
    }
        }
}
