#oferta{
    .oferta-body {
           background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)),
           url("../images/backgrounds/oferta/2.jpg");
           height: 100%;
           padding-bottom:$main-bottom;
           background-repeat: no-repeat;
           background-size: cover;
    }
        .oferta__title{
            @media (min-width: 1200px) {
                padding-top: $section-space-from-top;
            }
        }
        .oferta__box{
            background-color: black;
            text-align: center;
            align-items: center;
            width: 100%;
            transition: transform 0.5s;
            &:hover{
                transform:scale(1.03);
                @include box-shadow()
            }

            .h3{
                border-bottom: 5px solid $primary;
                margin-bottom: 0px;
                padding:5px;
                text-align: center;
                span{
                    visibility: hidden;
                }
                &_center{
                    height:110.56px;
                    padding:30px;
                }
            }
            .oferta_image{
                display: flex;
                flex-direction: column;
                border-bottom: 5px solid $primary;
               img{
                height: 100%;
                object-fit: cover;
               }
            }
            .oferta_image-gray{
                filter: grayscale(100%);
            }
       
            .oferta__text{
                margin:10px 0px;
                color:white;
                padding:10px 20px;
           
            }

            .oferta__text-center{
                margin:20% 0;
                @media (max-width: 575.98px) {
                    margin:10% 0;
                }
                @media (min-width: 576px) and (max-width: 1199.98px) {
                    margin:10% 0;
                }
            
                
                
               
            }



            .oferta__text-szkolenia{
                font-size: 50px;
                line-height: 1.2;
            }



     
            .oferta_button-center{
                height: 60px;
                display: flex;
                justify-content: center;
                .oferta_button{
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 0px;
                    max-width: 350px;
                }
            }

        }
        .oferta_bottom-line{
            display: flex;
            justify-content: center;
           }
}
.big_top_box{
    margin-bottom: 40px;

}
.big_bottom_box{
    margin-bottom: 100px;
    
}
