#oNas{
    // margin-top: 50px;
    // margin-bottom: 150px;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("../images/backgrounds/oNas/shivanshu-gaur-tYans8xqIHw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   .oNas__title {
       text-align: center;
       color: $maintext;
   }
   .oNas_box{

        .oNas_lukasz-box, .oNas_pawel-box{
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;;
        }
        
        .oNas_lukasz-box {
                position: absolute;
                top:65px;
                left:30%;
                transform: translateX(-50%);
                width: 100%;
                background-color: black;
                color:white;
                text-align: center;
                @keyframes swap1 {
                    0{
                        z-index: 1; 
                    }
                    50%{
                        z-index: 1;
                        left:70%;
                        filter:blur(3px);
                    }
                    100%{
                        z-index: 0;
                        left:30%;
                        filter: blur(6px);
                    }
                }
                @keyframes swap2 {
                    0{
                        z-index: 0; 
                    }
                    50%{
                        z-index: 0;
                        left:70%;
                        filter:blur(3px);
                    }
                    100%{
                        z-index: 1;
                        left:30%;
                        
                        filter: blur(0);
                    }
                }
                .oNas__top-text{
                    margin-top: 20px;
                    font-size:30px;
                    text-transform: uppercase;
                    font-family: $Anton;
                }
                p{
                    padding:15px;
                }
                img{
                    
                    max-width: 650px;
                    width: 100%;
                    max-height: auto;
                    -webkit-clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
                    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
                    filter: grayscale(100%);
                }
        }
        .oNas_pawel-box {
            top:0;
            position: absolute;
            left:70%;
            transform: translateX(-50%);
            width: 100%;
            background-color: black;
            color:white;
            text-align: center;
            filter: blur(6px);
            @keyframes swap3 {
                0{
                    z-index: 0; 
                }
                50%{
                    z-index: 0;
                    left:30%;
                    filter:blur(3px);
                }
                100%{
                    z-index: 1;
                    left:70%;
                    filter: blur(0);
                }
            }
            @keyframes swap4 {
                0{
                    z-index: 1; 
                }
                50%{
                    z-index: 1;
                    left:30%;
                    filter:blur(3px);
                }
                100%{
                    z-index: 0;
                    left:70%;
                    filter: blur(6px);
                }
            }
                
                           @media (min-width: 282px) and (max-width: 768px) {
                               margin-top: 20px;
                           }
                p{
                    padding:15px;
                }
                .oNas__bottom-text{
                    margin-top: 20px;
                    font-size:30px;
                    text-transform: uppercase;
                    font-family: $Anton;
                }
                    img {
                        max-width: 650px;
                        width: 100%;
                        max-height: auto;
                        -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
                        clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
                        filter: grayscale(100%);
                    }
        }
   }    
}



