#partners{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.795)),
    url("../images/backgrounds/oNas/shivanshu-gaur-tYans8xqIHw-unsplash.jpg");
    text-align: center;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
    .partners__title{
        padding-top: $section-space-from-top;
    }
    img{
        width:100%;
    }
    .container{
        .position{
            display: flex;
            align-items: center;
        }
    }
}