#partners{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.795)),
    url("../images/backgrounds/oNas/shivanshu-gaur-tYans8xqIHw-unsplash.jpg");
    text-align: center;
    clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
                                          @media (min-width: 282px) and (max-width: 768px) {
                                              clip-path: polygon(50% 5%, 100% 0, 100% 100%, 0 100%, 0 0);
                                          }
    .partners__title{
        padding-top: $section-space-from-top;
        @media (min-width: 282px) and (max-width: 768px) {
            padding-top:$section-space-from-top-RWD;
        }
    }
    img{
        width:100%;
    }
    
        .partners-images {
            
            display: flex;
            align-items: center;
            padding-bottom: $main-bottom;
        }
    
}