#referencje{
             .referencje__title {
                 text-align: center;
                 color: $primary;
             }
             .referencje-body{
                  background-image: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.6)),
                  url("../images/backgrounds/referencje/1.jpg");
                  padding-top: 100px;
                  padding-bottom: 200px;
                  background-attachment: fixed;
                  background-repeat: no-repeat;
                  background-size: cover;
                  @media (max-width: 575.98px) {
                    padding-bottom: 50px;
                }
             }
}
#carouselExampleIndicators{
    @media (min-width: 576px) and (max-width: 767.98px) {
        height: 450px;
    }
    .carousel-inner{
        .carousel-item{
            text-align: center;
            padding:50px;
            height: 410px;
            @media (max-width: 575.98px) {
                height: 610px;
            }
            @media (min-width: 576px) and (max-width: 767.98px) {
                height: 500px;
            }
            @media (max-width: 1199px) {
                padding: 0;
            }
            .carousel__image {
                visibility: hidden;
            }
           .carousel-caption{
                bottom: 50%;
                transform: translateY(50%);
                height: 100%;
            img{
                border-radius: 50%;
                object-fit: cover;
                height: 180px;
                width: 180px;
                padding: 15px;
                filter: grayscale(100%);
                z-index: 0;
            }
            h5{
                padding-bottom: 10px;
            }
            h6{
                padding-bottom: 10px;
                text-transform: uppercase;
            }
            q{
                display: inline;
                    quotes: "“" "„";
                    &:before {
                        content: open-quote;
                        font-size: 1.6rem;
                        margin-right: 5px;
                    }
                    &:after {
                        content: close-quote;
                        font-size: 1.6rem;
                        margin-left: 5px;
                    }
            }
           }
       }
    }
}
