.nav-link{
    color: $white;

}

#navbar{
    
    .navbar-collapse{
       margin-top:30px;

    }
    position: absolute;
    z-index: 3;
    width: 100%;
    .navbar-brand{
  
        img{
            position:absolute;
            top:0;
            left:19%;
            @media (min-width: 282px) and (max-width: 991.98px) {
            top:-40px;
            left:-5%;
            }
        }
    }
   
        @media (min-width: 282px) and (max-width: 768px) {
        background: rgba(90, 89, 89, 0.966);
           ul{
             display: flex;
             align-items: flex-start;
                a {
                    transform: scale(.7);
                }
            }
          a {
              height: 50px;
              img {
                  position: absolute;
                  top: -20px;
                  transform: scale(.5);
              }
          }
          @include box-shadow();
    }
    &.scroll-nav {

        
        margin:0;
        height: auto;
        position: fixed;
        background: rgba(90, 89, 89, 0.986);
        padding-right: 16px !important;
        
        .navbar-collapse{
            margin:5px;
         }
                @media (min-width: 282px)  {
                    background: rgba(90, 89, 89, 0.986);
                    padding:0;
                    ul {
                        display: flex;
                        align-items: flex-start;

                        a {
                            transform: scale(.7);
                            display: flex;
                            align-items: center;
                        }
                        li{
                            display: inline-block;
                            margin: 0 1rem;
                           font-family: $Roboto;
                            text-transform: uppercase;
                            margin-left:5px;
                            margin-right: 0;
                           
                           
                            &::after {
                                content: '';
                                position: relative;
                                bottom: 10px;
                                display: block;
                                height: 5px;
                                width: 0%;
                                margin: auto;
                                background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
                                @include transition(.2s);
                            }
                            &:hover {
                                &::after {
                                    width: 100%;
                   
                                    @media (min-width: 0px)and (max-width: 991.98px) {
                                        width: 0%;
                                        background-image: none;
                                    }
                                }
                            }
                        }
                    }

                    a {
                        height: 50px;
                        
                        img {
                            position: absolute;
                            padding-right: 16px !important;
                            top: -50px;
                            transform: scale(.4);
                        }
                    }

                    @include box-shadow();
                }
        ul{
            display: flex;
            align-items: flex-start;
           
            
        a{
            height: 50px;
            
            img{
            position: absolute;
            top:-20px;
            transform: scale(.5);
            }
        }
    }
        @include box-shadow();
    }

    li{
         display: inline-block;
         margin: 0 1rem;
        font-family: $Roboto;
         text-transform: uppercase;
        margin-left: 5px;
        margin-right: 0;        
         &::after {
             content: '';
             position: relative;
             bottom: -1px;
             display: block;
             height: 5px;
             width: 0%;
             margin: auto;
             background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
             @include transition(.2s);
         }
         &:hover {
             &::after {
                 width: 100%;

                 @media (min-width: 0px)and (max-width: 991.98px) {
                     width: 0%;
                     background-image: none;
                 }
             }
         }
        a{
            
            font-size: 22px;
            font-weight: 600;
           
        }       
    }
}
