
#menu_nav{
    
    background-color: rgba(211, 30, 30, 0);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
    padding-top: 20px;
    padding-bottom: 20px;
    @include transition(.9s);
    
 
    &.scroll-nav{
        background: rgba(221, 20, 20, 0.856);
        padding-top: 6px;
        padding-bottom: 5px;
        @include box-shadow();
        ul{
            li{
                font-size: 1.1rem;
                &.logo-menu{
                    img{
                        transform: scale(.8);
                    }
                }
            }
        }
    }

    .ul{
        display: flex;
        margin-right: 150px;
        
        
        

        .li{
            display: inline-block;
            margin: 0 1rem;
            font-size: 1.4rem;
            text-transform: uppercase;
            color:$maintext;
            &::after{
                content: '';
                position: relative;
                bottom: -5px;
                display: block;
                height: 5px;
                width: 0%;
                margin: auto;
                
                background-image: linear-gradient(to right, transparent, $primary, $primary, transparent);
                @include transition(.2s);
     
            
                }

            &:hover{
                &::after{
                    width: 100%;
                            @media (min-width: 0px)and (max-width: 991.98px) {
                                width: 0%;
                                background-image: none;
                            }
                }
            }
        }


    }
    
            img {
                position: absolute;
                margin: 0 2rem;
                width: auto;
                @include transition(.2s);

                display: none;

                
                img {
                    max-height: 50px;
                    transform: scale(1);
                    @include transition(.2s);

                }

                &::after {
                    display: none;
                }

                &:hover {
                    transform: scale(1.1);
                }
                
            }
}
